fname='Effiage';
basename='/Users/skanner/GoogleDrive/ToCode/WFM_metocean/';
%casestr='ESS';
fdir=[basename 'Data' filesep];
met=readhindcast(fname,fdir,0);
met.shear = 0.14;
met.VspdH=10; %[m]
met.HubH=100;
met.all.vspdhh=met.all.vspd*(met.HubH/met.VspdH)^met.shear; %sometime this exists in the met file?

VspdRated=11;

th0=-45/2;
dirbins=th0+[0:45:360];